<div class="container">
    <div class="regisLobby">
        <h2 class="managemnet-title">
            <mat-icon matPrefix class="size-27 pointer" (click)="back()">arrow_back_ios</mat-icon>
            {{static_data.office.offs}}
        </h2>
    </div>
    <br>
    <div class="tab-width">
        <form class="create-form" id="create-info" autocomplete="off" [formGroup]="office">
            <!-- <div class="flex"> -->
            <div class="flex">
                <mat-label for="off_name" class="width-20">{{static_data.office.office_Name}}</mat-label>
                <mat-form-field appearance="fill" appearance="fill" class="create-full-width"
                    [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-label for="off_name" class="width-20" class="visuallyhidden">{{static_data.office.office_Name}}
                    </mat-label>
                    <input aria-labelledby="off_name create-info" aria-label="officer Name" matInput type="text"
                        autocomplete="off" autofocus form-fields id="off_name" formControlName="type" maxlength="120">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(office.get('type'), 'office')}}
                    </mat-error>
                </mat-form-field>
                <!-- </div> -->
                <div class="btn-cancel-alg">
                    <span id="save-btn">
                        <button id="addInfo" title="Add Officer" type="button" mat-flat-button color="primary"
                            class="nrmlfillbtn" (click)="addOffices()">{{editGrid ? static_data.button.update :
                            static_data.button.add}}</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div>
        <h2 class="color-BrightBlue header-pad-top header-size">
            {{static_data.office.current_settings}}
        </h2>
    </div>
</div>
<table mat-table [dataSource]="dataOfficerList" multiTemplateDataRows>

    <ng-container matColumnDef="Committee">
        <th [attr.role]="null" mat-header-cell *matHeaderCellDef> {{static_data.office.off}} </th>
        <td [attr.role]="null" mat-cell *matCellDef="let element"> {{element.typeName}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th [attr.role]="null" mat-header-cell *matHeaderCellDef> {{static_data.office.action}} </th>
        <td [attr.role]="null" mat-cell *matCellDef="let element" class="click-hand">
            <span class="material-icons" (click)="editOfficerForm(element)">mode_edit_outline</span>&nbsp;&nbsp;
            <span class="material-icons" (click)="openConfirmationModal(element.typeId)">delete_forever</span>
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStudentsColumnsList;sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedStudentsColumnsList;" class="student-element-row"></tr>

    <!-- Extra row to show detail content column -->
    <!-- <div *ngIf="isTableExpanded"> -->
    <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"
        [ngClass]="{'hide':!row.isExpanded}"></tr> -->
    <!-- </div> -->
</table>