<!-- <div fxFlex="30" class="sub-section-2" style="margin-top: 5%;"> -->
<!-- <div fxLayout="row">
    <h2 class="account-modules color-NavyBlue font-600"></h2>
</div>

<div fxLayout="row">
    <h2 class="account-modules color-NavyBlue font-600"></h2>
</div> -->

<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.address_1}}</label>
    <span class="flt-right">{{address1}}</span>
</div>
<hr>

<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.address_2}}</label>
    <span class="flt-right">{{address2}}</span>
</div>
<hr>
<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.city}}</label>
    <span class="flt-right">{{city}}</span>
</div>
<hr>
<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.state}} </label>
    <span class="flt-right">{{state}}</span>
</div>
<hr>
<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.zipcode}}</label>
    <span class="flt-right">{{zipcode}}</span>
</div>
<hr>
<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.camp_phone}}</label>
    <span class="flt-right">{{campaignPhone}}</span>
</div>
<hr>

<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.alt_phone}} </label>
    <span class="flt-right">{{alternatePhone}}</span>
</div>
<hr>

<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.camp_email}} </label>
    <span class="flt-right">{{campaignEmail}}</span>
</div>
<hr>

<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.alt_email}} </label>
    <span class="flt-right">{{alternateEmail}}</span>
</div>
<hr>

<div class="mar-tp-header">
    <label class=" text-color font-600">{{static_data.committee_registration.commitee_contact.comm_website}} </label>
    <span class="flt-right">{{website}}</span>
</div>
<hr>

<!-- </div> -->
