<div class="regisLobby">
    <h2 class="header-pad-top font-400">
        {{static_data.lobbyist.register.subContract_lobby}}
    </h2>
</div>
<div>
    <p class="instruction-modules color-BrightBlue">Instructions go here ...</p>
</div>

<table mat-table [dataSource]="lobbySubcontractorList" multiTemplateDataRows>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> {{static_data.lobbyist.subcontractors.type}} </th>
        <td mat-cell *matCellDef="let element"> {{element.contactType}} </td>
    </ng-container>

    <ng-container matColumnDef="subcontractorName">
        <th mat-header-cell *matHeaderCellDef> {{static_data.lobbyist.subcontractors.subcontractor_name}}</th>
        <td mat-cell *matCellDef="let element"> {{(element?.contactType == 'Organization')?element.fullName:'N/A'}} </td>
    </ng-container>

    <ng-container matColumnDef="first">
        <th mat-header-cell *matHeaderCellDef> {{static_data.lobbyist.subcontractors.firstName}}</th>
        <td mat-cell *matCellDef="let element"> {{(element?.contactType !== 'Organization')?element.firstName:'N/A'}} </td>
    </ng-container>

    <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef> {{static_data.lobbyist.subcontractors.lastName}}</th>
        <td mat-cell *matCellDef="let element"> {{(element?.contactType !== 'Organization')?element.lastName:'N/A'}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> {{static_data.lobbyist.subcontractors.phone_number}}</th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> {{static_data.lobbyist.subcontractors.email}} </th>
        <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> {{static_data.lobbyist.clients.action}}</th>
        <td mat-cell *matCellDef="let element">
            <span class="material-icons pointer" (click)="editSubcontractor(element)">mode_edit_outline</span>&nbsp;&nbsp;
            <span class="material-icons pointer" (click)="openConfirmationModal(element.contactId)">delete_forever</span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="SubcontractorLobby"></tr>
    <tr mat-row *matRowDef="let row; columns: SubcontractorLobby;"></tr>
</table>


<div class="regisLobby">
    <h2 class="header-pad-top font-400">
        {{static_data.lobbyist.register.add_new_subcontractor}}
    </h2>
</div>
<br><br>
<form class="create-form" id="create-info" autocomplete="off" [formGroup]="LobbySubcontractorsForm">

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="client">{{static_data.lobbyist.subcontractors.search_contractor}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="search-full-width" [hideRequiredMarker]="hideRequiredMarker">
                    <mat-label>Search</mat-label>
                    <input attr.aria-label="{{static_data.lobbyist.subcontractors.search_contractor}}" type="text" placeholder="Search" aria-label="text" matInput id="subContract" formControlName="subContract" [matAutocomplete]="auto" (keyup)="getSearchSubContractor($event)"
                    />
                    <!-- (ngModelChange)="this.txtQueryChanged.next($event)" -->
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of SearchSubContractor" (click)="selectedItem(option)">
                            {{option.firstName}} {{option.lastName}}
                        </mat-option>
                        <mat-option *ngIf="!SearchSubContractor.length">
                            {{static_data?.notFound?.notfound}}
                        </mat-option>
                    </mat-autocomplete>
                    <button type="button" class="btn-search" style="
                  width: 100px;
                  height: 50px;
                  margin-right: -10px;
                  border-radius: 0px;
                " mat-flat-button color="primary" class="nrmlfillbtn" matSuffix aria-label="Clear">
                Search
              </button>
                    <!-- <mat-error class="error">
                {{
                  errorService.checkErrorMessage(
                    LobbyClientsForm.get("subContract"),
                    "client"
                  )
                }}
              </mat-error> -->
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="type">{{static_data.lobbyist.subcontractors.type}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-select id="type" attr.aria-label="{{static_data.lobbyist.subcontractors.type}}" formControlName="type" (selectionChange)="customValidator()">
                        <!-- <mat-option value="LOB-I">Individual</mat-option>
                        <mat-option value="LOB-O">Organization</mat-option> -->
                        <mat-option *ngFor="let option of subContractorType" value="{{option.lookUpTypeId}}">{{option.lookUpName}}</mat-option>
                    </mat-select>
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbySubcontractorsForm.get('type'), 'type')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class" *ngIf="(LobbySubcontractorsForm.value.type) == 'LOB-I'">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="first">{{static_data.lobbyist.subcontractors.firstName}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{static_data.lobbyist.subcontractors.firstName}}" matInput type="text" autofocus autocomplete="off" form-fields id="first" formControlName="first" keyPrevent [AlphaSpace]="true" maxlength="120" minlength="2">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbySubcontractorsForm.get('first'), 'first')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class" *ngIf="(LobbySubcontractorsForm.value.type) == 'LOB-I'">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="last">{{static_data.lobbyist.subcontractors.lastName}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{static_data.lobbyist.subcontractors.lastName}}" matInput type="text" autocomplete="off" form-fields id="last" formControlName="last" keyPrevent [AlphaSpace]="true" maxlength="120" minlength="2">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbySubcontractorsForm.get('last'), 'last')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class" *ngIf="(LobbySubcontractorsForm.value.type) == 'LOB-O'">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="subcontractorName">{{static_data.lobbyist.subcontractors.subcontractor_name}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{static_data.lobbyist.subcontractors.subcontractor_name}}" matInput type="text" autocomplete="off" form-fields id="subcontractorName" formControlName="subcontractorName" keyPrevent [AlphaSpace]="true" required maxlength="120"
                        minlength="2">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbySubcontractorsForm.get('subcontractorName'), 'subcontractorName')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>


    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="phone">{{static_data.lobbyist.subcontractors.phone_number}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{static_data.lobbyist.subcontractors.phone_number}}" matInput type="text" autocomplete="off" form-fields id="phone" formControlName="phone" required keyPrevent (keypress)="numericOnly($event)" maxlength="10" minlength="10">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbySubcontractorsForm.get('phone'), 'phone')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="email">{{static_data.lobbyist.subcontractors.email}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{static_data.lobbyist.subcontractors.email}}" matInput type="text" autocomplete="off" form-fields id="email" formControlName="email" required>
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbySubcontractorsForm.get('email'), 'email')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div>
        <span id="cancel-btn">
        <a href="javascript:void(0)" style="color: #005596;text-decoration: underline" (click)="validateCancel()"> {{static_data.lobbyist.register.cancel}}</a>
      </span>
        <span id="save-btn">
        <button [disabled]='saveDisable' id="addInfo" type="button" mat-flat-button color="primary" class="nrmlfillbtn"
        (click)="ValidateSubcontractorForm()"> {{formedit?static_data.button.update :static_data.lobbyist.register.save}}</button>
      </span>
    </div>

</form>
<br><br><br>
<div>
    <span class="btn-mar-back">
      <a href="javascript:void(0)" (click)="goBack()"> {{static_data.lobbyist.register.back}}</a>
    </span>
    <span class="btn-mar-align">
      <button id="addInfo" type="button" mat-flat-button color="primary" class="nrmlfillbtn"
      (click)="ValidateSubmitSubContractor()"> {{static_data.lobbyist.register.next}}</button>
    </span>
</div>
