.navigatepadding {
  padding-left: 20px;
}
.fontcolorblck {
  // color: #0f5597;
  // font-size: 19px;
  color: #074784;
  // font-weight: 400;
}
.value {
  // color: #0f5597;
  float: right;
  font-size: 17px;
}
