.header-pad-top {
  padding-top: 15px;
  font-size: 20px;
  color: #005596;
  font-family: "open sans", sans-serif;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
}

.mat-form-field-infix {
  background-color: #ebebeb;
}

.btn-mar-align {
  margin-left: 70%;
}

.btn-mar-back {
  // margin-left: 15px;

  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.col-sm-3,
.col-sm-2 {
  text-align: right;
}
mat-form-field {
  width: 400px;
}

.btmdiv {
  padding: 0px 30% 0px 0px;
  justify-content: space-between;
  display: flex;
}

a {
  color: #005596;
  text-decoration: underline;
}