<!-- <div fxFlex="30" class="sub-section-2" style="margin-top: 5%;"> -->
  <!-- <div fxLayout="row">
    <h2 class="account-modules color-NavyBlue font-600"></h2>
</div>

<div fxLayout="row">
    <h2 class="account-modules color-NavyBlue font-600"></h2>
</div> -->

<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.bank_info.bankName}}</label>
  <span fxFlex="50">{{bankName}}</span>
</div>
<hr>

<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.bank_info.Address1}}</label>
  <span fxFlex="50">{{address1}}</span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.bank_info.Address2}}</label>
  <span fxFlex="50">{{address2}}</span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.bank_info.city}} </label>
  <span fxFlex="50">{{city}}</span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.bank_info.state}}</label>
  <span fxFlex="50">{{state}}</span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.bank_info.zipcode}}</label>
  <span fxFlex="50">{{zipcode}}</span>
</div>
<hr>


<!-- </div> -->
