.title {
    color: #0f5597;
    font-size: 28px;
    font-weight: 500;   
    margin-bottom: 30px;
  padding-left: 20px;
}

.revokebtn {
    float: right;
    margin-right: 10%;
    background-color: #ca0606;
    padding: 2px 30px;
    color: white;
}

.backbtn {

  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  }