<div class="regisLobby">
    <h2 class="header-pad-top font-400">
        {{static_data.lobbyist.register.relationship_lobby}}
    </h2>
</div>
<div>
    <p class="instruction-modules color-BrightBlue">Instructions go here ...</p>
</div>


<table mat-table [dataSource]="lobbyRelationshipList" multiTemplateDataRows>

    <ng-container matColumnDef="lobbyist">
        <th mat-header-cell *matHeaderCellDef> Lobbyist </th>
        <td mat-cell *matCellDef="let element"> {{element?.lobFullName}} </td>
    </ng-container>

    <ng-container matColumnDef="officialName">
        <th mat-header-cell *matHeaderCellDef> Official Name </th>
        <td mat-cell *matCellDef="let element"> {{element.officialName}} </td>
    </ng-container>

    <ng-container matColumnDef="officialTitle">
        <th mat-header-cell *matHeaderCellDef> Official Title </th>
        <td mat-cell *matCellDef="let element"> {{element.officialTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="relationship">
        <th mat-header-cell *matHeaderCellDef>Relationship</th>
        <td mat-cell *matCellDef="let element"> {{element.relationship}} </td>
    </ng-container>

    <ng-container matColumnDef="entityName">
        <th mat-header-cell *matHeaderCellDef>Entity Name</th>
        <td mat-cell *matCellDef="let element"> {{element.entityName}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
            <span class="material-icons" (click)="editRelationships(element)">mode_edit_outline</span>&nbsp;&nbsp;
            <span class="material-icons" (click)="openConfirmationModal(element.contactId)">delete_forever</span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="RelationshipLobby"></tr>
    <tr mat-row *matRowDef="let row; columns: RelationshipLobby;"></tr>
</table>

<div class="regisLobby">
    <h2 class="header-pad-top  font-400">
        {{static_data.lobbyist.register.add_new_relationship}}
    </h2>
</div>
<br><br>
<form class="create-form" id="create-info" autocomplete="off" [formGroup]="LobbyRelationshipForm">

    <div class="form-class">
        <div class="row">
          <div class="col-sm-2">
            <mat-label for="client">{{static_data.lobbyist.relationship.relationship}}</mat-label>
          </div>
          <div class="col-sm-10">
            <mat-form-field
              class="search-full-width"
              [hideRequiredMarker]="hideRequiredMarker"
            >
              <mat-label>Search</mat-label>
              <input attr.aria-label="{{static_data.lobbyist.relationship.relationship}}"
                type="text"
                placeholder="Search"
                aria-label="text"
                matInput
                id="relationshipSearch"
                formControlName="relationshipSearch"
                [matAutocomplete]="auto"
                (keyup)="getSearchRelationship($event)"
              />
              <!-- (ngModelChange)="this.txtQueryChanged.next($event)" -->
              <mat-icon matPrefix>search</mat-icon>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of SearchRelationship"
                  (click)="selectedItem(option)"
                >
                {{option.firstName}}  {{option.lastName}}
                </mat-option>
                <mat-option *ngIf="!SearchRelationship.length">
                    {{static_data?.notFound?.notfound}}
                </mat-option>
              </mat-autocomplete>
              <button
                type="button"
                class="btn-search"
                style="
                  width: 100px;
                  height: 50px;
                  margin-right: -10px;
                  border-radius: 0px;
                "
                mat-flat-button
                color="primary"
                class="nrmlfillbtn"
                matSuffix
                aria-label="Clear"
              >
                Search
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>
    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="lobbyist">{{static_data.lobbyist.relationship.lobbyist}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-select id="lobbyist" attr.aria-label="{{ static_data.lobbyist.relationship.lobbyist }}" formControlName="lobbyist">
                        <mat-option *ngFor="let option of SearchLobby" [value]="option.contactId">
                            {{option.employeeName}}
                        </mat-option>
                      
                    </mat-select>
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyRelationshipForm.get('lobbyist'), 'lobbyist')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="officialName">{{static_data.lobbyist.relationship.official_name}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{ static_data.lobbyist.relationship.official_name }}" autofocus matInput type="text" autocomplete="off" form-fields id="officialName" formControlName="officialName" required maxlength="120" minlength="2">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyRelationshipForm.get('officialName'), 'officialName')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="officialTitle">{{static_data.lobbyist.relationship.official_title}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{ static_data.lobbyist.relationship.official_title }}" matInput type="text" autocomplete="off" form-fields id="officialTitle" formControlName="officialTitle" required maxlength="120" minlength="2">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyRelationshipForm.get('officialTitle'), 'officialTitle')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="relationship">{{static_data.lobbyist.relationship.relationship}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{ static_data.lobbyist.relationship.relationship }}" matInput type="text" autocomplete="off" form-fields id="relationship" formControlName="relationship" required maxlength="120" minlength="2">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyRelationshipForm.get('relationship'), 'relationship')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="entityName">{{static_data.lobbyist.relationship.entity_name}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <input attr.aria-label="{{static_data.lobbyist.relationship.entity_name}}" matInput type="text" autocomplete="off" form-fields id="entityName" formControlName="entityName" required maxlength="120" minlength="2">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyRelationshipForm.get('entityName'), 'entityName')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div>
        <span id="cancel-btn">
        <a href="javascript:void(0)" (click)="validateCancel()"> {{static_data.lobbyist.register.cancel}}</a>
      </span>
        <span id="save-btn">
        <button id="addInfo" type="button" mat-flat-button color="primary" class="nrmlfillbtn"
        (click)="ValidateEmployeeForm()"> {{formedit?static_data.button.update :static_data.lobbyist.register.save}}</button>
      </span>
    </div>

</form>
<br><br><br>
<div>
    <span class="btn-mar-back">
      <a href="javascript:void(0)" (click)="goBack()"> {{static_data.lobbyist.register.back}}</a>
    </span>
    <span class="btn-mar-align">
      <button id="addInfo" type="button" mat-flat-button color="primary" class="nrmlfillbtn" (click)="SubmitRelationshipForm()"> {{static_data.lobbyist.register.next}}</button>
    </span>
</div>
