.create-full-width {
    width: 40%;
  }

  .header-pad-top {
    padding-top: 15px;
    font-size: 20px;
    color: #005596;
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
  }

  .mat-form-field-infix {
    background-color: #ebebeb;
  }
  
  .btn-mar-align {
    margin-left: 70%;
  }

  .material-icons{
    color: #005596;
  }

  .tab-width {
      width: 50%;
  }

  .btn-mar-back {
    // margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }

  .col-sm-3, .col-sm-2{
    text-align: right;
  }

  #cancel-btn{
    padding-left: 365px;
  }
  #save-btn{
    padding-left: 25px;
  }
  mat-form-field{
    width: 410px;
  }
  a {
    color: #005596;
    text-decoration: underline;
  }
  .material-icons {
    cursor: pointer;
      }