
.create-form {
    width: 100%;
  }
  
  .create-full-width {
    width: 80%;
  }

  .header-pad-top {
    padding-top: 15px;
  }

  .mat-form-field-infix {
    background-color: #ebebeb;
  }
  
  .btn-mar-align {
    margin-left: 80%;
  }

  .tab-width {
      width: 80%;
  }

  .btn-mar-back {
    margin-left: -15px;
  }
  .mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .mat-radio-button {
    margin: 5px;

  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  display: none;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #58595B!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color: #58595B!important; /*outer ring color change*/
}
// ::ng-deep .mat-typography p{
//   margin: 0;
//   transform: translate(10px, 10px);
// }
.select-mar {
  margin: 30px;
}

.create-font-style {
  font-size: 20px;
  font-weight: bold;
}
.width-20{
  width: 30%;
  padding-top: 11px;
  margin-right: 13px;
  text-align: right;
}
.container{
  padding: 20px;
}
.account-modules h1 {
    text-align: left;
  }
  .left-20{
    margin-left: 29%;
  }
  .mat-icon {
    font-size: 22px !important
  }

  .right{
    padding-left: 54%;
  }