.matform-Container{
  padding-left: 20px;
}

.font-600{
  font-weight: 500 !important;
}

.text-color {
  color: #0f5597;
}

.sub-section-3{
  width:100%;
}

/// Classess

// .mar-tp-header {
//   margin-top: 3%;

// }
.padding-class{
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-join {
border: 1px solid #0f5597 !important;color: #0f5597;background-color: #fafafa;
}
.sub-section-2{
  width:40%;
}
.sub-section-1{
  width:120%;
}


.addnote-class {
  width: 100%;
  // padding: 12px 20px;
  // margin: 8px 0;
  height:100%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.subject-class {
  width: 100%;
  //padding: 12px 20px;
  //margin: 8px 0;
  height:100%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.download-button{
  border:1px solid #005596;
  color: #005596;
}
.btn-class{
  float:right;
}

.deactive-modal {
  min-height: 90px;
  resize: none !important;
  padding: 15px 12px !important;
  width:100%;
  border:1px solid black;
  // @include regular-16;
}
.active-modal{
  min-height: 50px;
  resize: none !important;
  padding: 15px 12px !important;
  width:100%;
  border:1px solid black;
}


.navigatepadding {
  padding-left: 20px;
}
.fontcolorblck {
  color: #0f5597;
  font-size: 19px;
}
.value {
  // color: #0f5597;
  float: right;
  font-size: 19px;
}

.sub-section-2{
  width: 40%;
}

@media screen and (max-width: 992px) {
  .sub-section-2{
    width: 80%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 720px) {
  .sub-section-2{
    width: 100%;
  }
}



.color-NavyBlue {
  color: #002D56;
  font-weight: 500;
}