<div style="background-color: #fff">
    <div class="account-modules width-30">
        <div class="width-100 account-inner-view" style="margin-top: 19%;">
            <div class="width-100">
                <a class="logo" href="javascript:void(0)">
                    <!-- <img src="assets/images/logo.svg" title="Logo" alt="LOGO"> -->
                    <img src="assets/images/denver_logo.png" title="Logo" alt="LOGO">
                </a>
            </div>
            <div class="width-100">
                <h1>
                    Change Password
                </h1>

            </div>
            <div>
                <form [formGroup]="frmchangepwd" class=" margin-bottom-20" autocomplete="off">
                    <div class="o-Form__set">
                        <!-- <mat-label class="width-20">New Password</mat-label> -->
                        <mat-form-field appearance="fill" class="create-full-width" style="margin-bottom: 10px;">
                            <mat-label class="width-20">{{data.login.oldpassword}}</mat-label>
                            <input matInput [type]="pshowcnfm ? 'password' : 'text'" id="oldpassword"
                                formControlName="oldpassword" name="password" autofocus form-fields
                                placeholder="{{data.login.oldpassword}}">
                            <mat-icon matSuffix (click)="pshowcnfm = !pshowcnfm">{{pshowcnfm ? 'visibility_off' :
                                'visibility'}}
                            </mat-icon>
                            <mat-error class="error">
                                {{errorService.checkErrorMessage(frmchangepwd.get('oldpassword'), 'setoldpassword')}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="create-full-width">
                            <mat-label class="width-20">{{data.login.newpassword}}</mat-label>
                            <input matInput [type]="pshow ? 'password' : 'text'" id="newpassword"
                                formControlName="newpassword" name="newpassword" form-fields
                                placeholder="{{data.login.newpassword}}">
                            <mat-icon matSuffix (click)="pshow = !pshow">{{pshow ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error class="error">
                                {{errorService.checkErrorMessage(frmchangepwd.get('newpassword'),
                                'setpasswordpassword')}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="create-full-width">
                            <mat-label class="width-20">{{data.login.confirmpassword}}</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" id="confirmpassword"
                                placeholder="{{data.login.confirmpassword}}" formControlName="confirmpassword"
                                (input)="comparePassword()" name="confirmpassword" form-fields placeholder="">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error
                                *ngIf="frmchangepwd.controls.confirmpassword.errors && (frmchangepwd.controls.confirmpassword.dirty || frmchangepwd.controls.confirmpassword.touched)">
                                <!-- *ngIf="frmchangepwd.controls.confirmpassword.errors && (frmchangepwd.controls.confirmpassword.dirty || frmchangepwd.controls.confirmpassword.touched)"> -->
                                <!-- *ngIf="frmchangepwd.controls.confirmpassword.errors.required" -->
                                <span *ngIf="frmchangepwd.controls.confirmpassword.errors.required">
                                    {{errorService.checkErrorMessage(frmchangepwd.get('confirmpassword'),
                                    'setpasswordconfirmpassword')}}</span>
                            </mat-error>
                        </mat-form-field>
                        <span class="error-class"
                            *ngIf="passwordCompare && frmchangepwd.controls.newpassword.valid && frmchangepwd.controls.confirmpassword.value.length">
                            Password doesn't match </span>
                    </div>
                </form>
                <button (click)="changePassword()" mat-raised-button class="login-btn color-SkyBlue margin-bottom-10"
                    color='primary'>{{data.login.change_password}}</button>
                <span>
                    <a class="color-BrightBlue back-btn" role= "button" href="javascript:void(0)"
                        (click)="back()">{{static_data?.button?.back}}</a>
                </span>
            </div>
        </div>
    </div>
    <!-- <div class="flex margin-bottom-25">
            <span>
                <a class="color-BrightBlue back-btn" href="javascript:void(0)">Back</a>
            </span>
        </div> -->
</div>