::ng-deep .cal-month-view .cal-day-number{
    text-align: center;
    padding-right: 35% !important;
    font-size: x-large !important;
}

::ng-deep .cal-month-view .cal-day-badge {
    display: none;
}

.font-icon-size {
    font-size: 40px;
    cursor: pointer;
}

.header-font-size {
    font-size: 25px;
    margin: 5px;
}

::ng-deep .cal-month-view .cal-open-day-events {
    color: #fff;
    background-color: #0f5597;
    box-shadow: inset 0 0 15px 0 rgb(0 0 0 / 50%);
}
//Event class
::ng-deep .cal-events .cal-month-view .cal-event {
    width: 100%;
    height: 29px;
    border-radius: 1%; 
    /* display: inline-block; */
    margin: 2px;
}

// ::ng-deep  .cal-open-day-events {
//     display: none;
// }

.today-date-hght {
    border: 2px solid #0083ff;
    border-radius: 25px;
    background-color: #0a0aff;
    color: white;
}
:host ::ng-deep .mat-form-field-flex {
    background-color: transparent !important;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important;
}
:host ::ng-deep .mat-select-value{
    color:#005596 !important;
    font-weight: 500;
}

.pad-5 {
    padding: 5px;
}
.mar-10 {
    margin: 10px;
}
.legend-border-clr {
    border: 1px white solid;
}