.text-color {
  color: #0f5597;
}
.font-sze{
font-size: medium;
}
.font-sze-large {
font-size: x-large;
}

.font-600 {
font-weight: 500 !important;
}

.flt-right {
  float:right;
}





span{
  color: #a6a2a2;
  text-align: right;
}

.text-color {
  color:#0f5597;
}

