<div>

    <div class="mar-tp-header">
        <label class=" text-color font-600">{{static_data.Switch_Committee.Committee_name}}</label> <span
            class="flt-right">{{committeeName}}</span>
    </div>
    <hr style="height: 2px;background-color: #002d56;">

    <div class="mar-tp-header">
        <label class=" text-color font-600">{{static_data.Switch_Committee.Candidate_name}} </label> <span
            class="flt-right">{{candidateName}}</span>
    </div>
    <hr style="height: 2px;background-color: #002d56;">

    <div class="mar-tp-header">
        <label class=" text-color font-600">{{static_data.Switch_Committee.office_Sought}}</label> <span
            class="flt-right">{{officesought}} </span>
    </div>
    <hr style="height: 2px;background-color: #002d56;">

    <div class="mar-tp-header">
        <label class=" text-color font-600">{{static_data.Switch_Committee.district}}</label> <span
            class="flt-right">{{district}}</span>
    </div>
    <hr style="height: 2px;background-color: #002d56;">

    <div class="mar-tp-header">
        <label class=" text-color font-600">{{static_data.Switch_Committee.election_date}}</label> <span
            class="flt-right">{{electionDate | date:masterDate.dateFormat}}</span>
    </div>
    <hr style="height: 2px;background-color: #002d56;">

</div>