.text-color {
    color: #135fac;
  }

  .btn-join {
  border: 1px solid #0f5597 !important;color: #0f5597;background-color: #fafafa;
  }

  .mar-tp-header {
    margin-top: 5%;
}

.font-sze{
  font-size: medium;
}

.font-sze-large {
  font-size: x-large;
}

.font-sze-xlarge {
  font-size: xx-large;
}

// .font-600 {
//   font-weight: 600 !important;
// }