// .account-modules {
//     /* width: 35%; */
//     margin: 0 auto;
//     height: 25vh;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     display: flex;
// }

.mat-tab-body {
  height: 500px;
}

.create-form {
    // min-width: 150px;
    // max-width: 500px;
    width: 100%;
  }
  
  .matform-Container{
    margin: 0 auto;
  }

  .create-full-width {
    width: 80%;
  }

  .header-pad-top {
    padding-top: 15px;
  }

  .heading-align-left {
    text-align: left;
  }

  .mat-form-field-infix {
    background-color: #ebebeb;
  }
  
  .btn-mar-align {
    margin-left: 80%;
  }

  .tab-width {
      width: 50%;
  }

  .btn-mar-back {
    margin-left: -15px;
  }
  .mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .mat-radio-button {
    margin: 5px;

  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  display: none;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #58595B!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color: #58595B!important; /*outer ring color change*/
}
// ::ng-deep .mat-typography p{
//   margin: 0;
//   transform: translate(10px, 10px);
// }
.select-mar {
  margin: 30px;
}

.create-font-style {
  font-size: 20px;
  font-weight: bold;
  // cursor:pointer;
}
.width-20{
  width: 17%;
  text-align: right;
  padding-top: 11px;
}
.container{
  padding: 20px;
  display: grid;
  align-items: center;
}
.account-modules h1 {
  text-align: left;
}

.bottom-btn{
  position: fixed;
  left: 17% !important;
  right: 20px;
  bottom: 0;
  display: flex;
}
::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  border-radius: 0 !important;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  display: none;
}
::ng-deep .mat-tab-header {
  border-bottom: none !important;
}
::ng-deep .mat-tab-label {
  padding: 0px 28px 0px 0px !important;
  justify-content: space-between !important;
}
::ng-deep .mat-tab-label, .mat-tab-link {
  color: #000000;
  font-weight: 600;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  font-weight: 700;
  color: black;
  opacity: 1;
}