
.create-form {
    width: 100%;
  }
  
  .create-full-width {
    width: 80%;
  }
  
  .header-pad-top {
    padding: 20px;
    font-size: 20px;
    color: #005596;
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .mat-form-field-infix {
    background-color: #ebebeb;
  }
  
  .btn-mar-align {
    margin-left: 80%;
  }
  
  .tab-width {
      width: 35%;
  }
  
  .btn-mar-back {
    margin-left: -15px;
  }
  .mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .manage-committee-class{
    padding-left: 20px;
  }
  
  .create-font-style {
  font-size: 20px;
  font-weight: bold;
  }
  .left-20{
    padding-left: 30px;
  }
  .width-20{
  width: 55%;
  }
  .datepicker{
    width: 100%;
  }
  .container{
  padding: 20px;
  }
  .account-modules h1 {
    text-align: left;
  }
  .mat-icon {
    font-size: 22px !important
  }
  
  th{
    background-color: #f3f3f3;
    color:black;
  
  }
  
  .right{
    padding-left: 54%;
  }
  mat-label{
    color: #005596;
  }
  .download-btn{
    padding:40px;
    padding-left:1000px;
    color:#005596;
  
  }
  .download-button{
    border:1px solid #005596;
  }
  #public-class{
    padding-left: 45px;
  }
  .public-field-class{
    //padding-left: 45px;
    width:145%;
  }
  .committee-class{
    width:144%;
  }
  .search-filer-class{
    padding-bottom: 20px;
  }
  
  .more-filter-class{
    // padding-left: 20px;
    color:#005596;
    font-size: 130%;
  }
  
  
  .mat-pad-lft {
    padding-left: 10px;
  }
  
  
  // // build changes
  // .mat-cell:nth-child(7), .mat-cell:nth-child(8), .mat-cell:nth-child(9){
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  //   max-width: 1px;
  //   cursor: pointer;
  //   padding-right: 15px;
  // }
  
  .mat-header-cell:nth-child(9),.mat-cell:nth-child(9){
    padding-left: 10px;
  }
  
  .textalignright {
    text-align: right;
  }
  
  .leftrightmargin {
    margin-right: 20px;
    // max-width: 100px !important;
  
  }
  
  .viewbtn {
      background: #0f5597;
      padding: 5px 15px;
      color: #ffffff;
      border: white;
      opacity: 1;
      border-radius: 1px;
      font-weight: 500;
  }
  
  th {
    background-color: #f3f3f3;
    color: #696767;
    font-weight: 500
  }
  
  a{
    display: inline-block;
    vertical-align: middle;
    color: #005596;
  }
  
  
  .desc {
    max-width: 140px; /* feel free to include any other value */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container{
    padding: 20px;
    display: grid;
    align-items: center;
  }
  .account-modules h1 {
    text-align: left;
  }

  .title {
    color: #0f5597;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-left: 20px;
  
  }
  .tabhead {
    font-size: 25px;
  }

  .name {
    font-size: 30px;
    width: 85%;
    top: 1%;
    color: #0b365f;
    font-weight: 500;
    padding-left: 20px;
  }

  .sub-head-cls{
      color:#059ec0;
      padding-bottom:3%;
      font-weight: bold;
      font-size: 16px;
  }

  .pragrph-cls {
    padding-right: 5%;
    white-space: break-spaces;
  }

  .frm-min-width {
      min-width: 100%;
  }

  .hide {
      display: none;
  }

  .sub-title {
    color: #0f3397b8;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
      padding-left: 0px;
  }
  .mat-flat-button {
      max-height: 30px;
  }
  .prg-clr{
      color: #0f5597;
  }

  .head-mar-btm {
    margin-bottom: -3%;
  }

  .head-mar-btm-2 {
    margin-bottom: -2%;
  }

  .head-mar-btm-plus-2{
      margin-bottom: 2%;
  }

  .pad-lft {
      padding-left: 5%;
  }


//   ::ng-deep .mat-select-panel {
//     background-color: white
//   }
  
//   ::ng-deep .mat-form-field-infix {
//     background-color: white
//   }
  
//   ::ng-deep .mat-select {
//     background-color: white;
//     color: black;
//   }
  
//   ::ng-deep .mat-select-value {
//     color: black;
//   }
.disp{
  display: none;
}

@media only screen and (max-width: 900px) {
  .textalignright {
    text-align: left;
  }
  .mat-pad-lft{
    padding-left: 0px;
  }
  .disp{
    display: block;
  }
}