.navigatepadding {
  padding-left: 20px;
}
.fontcolorblck {
  // color: #0f5597;
  // font-size: 19px;
  color: #135fac;
  // font-weight: 600;
}
.value {
  color: #a6a2a2;
  float: right;
  font-size: 15px;
}