<div class="navigatepadding">
    <div>
        <strong class="fontcolorblck"> {{static_data.lobbyist.register.year}} </strong>
        <span class="value"> {{year}} </span>
        <hr>
    </div>
    <div *ngIf='!showType'>
        <strong class="fontcolorblck"> {{static_data.lobbyist.register.firm_name}} </strong>
        <span class="value">{{organisationName}}</span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck"> {{static_data.lobbyist.register.primary_first_name}} </strong>
        <span class="value"> {{firstName}} </span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.last_name}} </strong>
        <span class="value">{{lastName}} </span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.bus_Address1}} </strong>
        <span class="value"> {{address1}}</span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.bus_Address2}} </strong>
        <span class="value"> {{address2}} </span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.city}} </strong>
        <span class="value"> {{city}} </span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.state}} </strong>
        <span class="value"> {{state}} </span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.zip_code}} </strong>
        <span class="value"> {{zipCode}} </span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.phone}} </strong>
        <span class="value"> {{phone}} </span>
        <hr>
    </div>
    <div>
        <strong class="fontcolorblck">
            {{static_data.lobbyist.register.email}} </strong>
        <span class="value"> {{email}} </span>
        <hr>
    </div>
</div>
