<div class="container" style="padding: 30px;">
    <div class="matform-Container">
        <div>
            <div>
                <h2 class="name">{{name}}</h2>
            </div>
            <h2 class="tabhead title">{{static_data?.search_transactions?.search_trans}}</h2>
        </div>
    </div>
    <form class="search-form">
    <div >
        <mat-form-field class="search-full-width" floatLabel="never">
            <mat-label>Search</mat-label>
            <input #myInput attr.aria-label="{{static_data.create_account.search_placeholder.ie_entity}}" type="text"
                matInput [(ngModel)]="searchpopular" name="SearchControl" id="search-popular">
            <mat-icon matPrefix>search</mat-icon>
            <!-- *ngIf="!isFromSwitchComm" -->
            <button type="button" attr.aria-label="Search" class="btn-search" mat-flat-button color="primary"
                matSuffix>
                SEARCH
            </button>
        </mat-form-field>
        <mat-icon class="help-icon" matsuffix>help</mat-icon>
    </div>
    <div class="flex">
        <div class="grid">
          <div>
            <mat-label class="size-19">{{static_data?.search_transactions?.filter_by}}</mat-label>
        </div>
        <div>
            <mat-label>{{static_data?.search_contacts?.role}}</mat-label><br>
            <mat-form-field appearance="fill"  [hideRequiredMarker]='hideRequiredMarker'>
                <mat-select [(ngModel)]="typeID">
                    <mat-option >
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       
        <div>
            <mat-label>{{static_data?.search_contacts?.state}}</mat-label><br>
            <mat-form-field appearance="fill"  [hideRequiredMarker]='hideRequiredMarker'>
                <mat-select [(ngModel)]="typeID">
                    <mat-option >
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-label>{{static_data?.search_contacts?.city_of_denver}}</mat-label><br>
            <mat-form-field appearance="fill"  [hideRequiredMarker]='hideRequiredMarker'>
                <mat-select [(ngModel)]="typeID">
                    <mat-option >
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-label>{{static_data?.search_contacts?.contact_type}}</mat-label><br>
            <mat-form-field appearance="fill"  [hideRequiredMarker]='hideRequiredMarker'>
                <mat-select [(ngModel)]="typeID">
                    <mat-option >
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</div>
</form>


</div>
        
<table mat-table [dataSource]="dataMatchingList" multiTemplateDataRows>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{static_data?.search_contacts?.contact_name}} </th>
        <td mat-cell *matCellDef="let element"> ferf </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>{{static_data?.search_contacts?.role}} </th>
        <td mat-cell *matCellDef="let element"> fref </td>
    </ng-container>

    <ng-container matColumnDef="employer">
        <th mat-header-cell *matHeaderCellDef> {{static_data?.create_account?.additional_information_IEF?.employer}} </th>
        <td mat-cell *matCellDef="let element"> fref</td>
    </ng-container>

    <ng-container matColumnDef="occupation">
        <th mat-header-cell *matHeaderCellDef> {{static_data?.create_account?.additional_information_IEF?.occupation}} </th>
        <td mat-cell *matCellDef="let element"> ferf </td>
    </ng-container>

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>{{static_data?.committee_registration?.commitee_office.city}} </th>
        <td mat-cell *matCellDef="let element"> fref </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> {{static_data?.create_account?.contact_info?.state}} </th>
        <td mat-cell *matCellDef="let element"> fref</td>
    </ng-container>

    <ng-container matColumnDef="zip">
        <th mat-header-cell *matHeaderCellDef> {{static_data?.create_account?.contact_info?.zipcode}} </th>
        <td mat-cell *matCellDef="let element"> fref</td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> {{static_data?.lobbyist?.subcontractors?.type}} </th>
        <td mat-cell *matCellDef="let element"> ferf </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> {{static_data.public_funding.action}} </th>
        <td mat-cell *matCellDef="let element" class="click-hand">
            <span class="material-icons">mode_edit_outline</span>&nbsp;&nbsp;
            <span class="material-icons">delete_forever</span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStudentsColumnsList;sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedStudentsColumnsList;"
        class="student-element-row" [class.student-expanded-row]="element.isExpanded"></tr>
</table>