<div class="tab-width">
    <form class="create-form" id="create-info" autocomplete="off" [formGroup]="createCommitteeInformationForm">
        <div class="flex">
            <mat-label for="Address1" class="width-20">{{static_data.committee_registration.commitee_contact.address_1}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="Address1" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.address_1}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.address_1}}" matInput type="text" autocomplete="off" autofocus form-fields id="Address1" formControlName="address1" maxlength="120" required>
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('address1'), 'committee-address1')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="Address2" class="width-20">{{static_data.committee_registration.commitee_contact.address_2}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="Address2" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.address_2}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.address_2}}" matInput type="text" autocomplete="off" autofocus form-fields id="Address2" formControlName="address2" maxlength="120">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('address2'), 'committee-address2')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="City" class="width-20">{{static_data.committee_registration.commitee_contact.city}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="City" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.city}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.city}}" matInput type="text" autocomplete="off" autofocus form-fields id="City" formControlName="city" required maxlength="150">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('city'), 'city')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="state" class="width-20">{{static_data.committee_registration.commitee_contact.state}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="state" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.state}}</mat-label>
                <mat-select id="state" attr.aria-label="{{static_data.committee_registration.commitee_contact.state}}" formControlName="state" required>
                    <mat-option *ngFor="let state of stateList" value="{{state.stateCode}}">{{state.stateDesc}}</mat-option>
                </mat-select>
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('state'), 'state')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="zipCode" class="width-20">{{static_data.committee_registration.commitee_contact.zipcode}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="zipCode" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.zipcode}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.zipcode}}" matInput type="text" autocomplete="off" autofocus form-fields keyPrevent (keypress)="numericOnly($event)" id="zipCode" formControlName="zipCode" required minlength="5" maxlength="9">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('zipCode'), 'zipCode')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="campPhone" class="width-20">{{static_data.committee_registration.commitee_contact.camp_phone}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="campPhone" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.camp_phone}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.camp_phone}}" matInput type="text" autocomplete="off" autofocus form-fields id="campPhone" formControlName="campPhone" required maxlength="10" minlength="10" keyPrevent (keypress)="numericOnly($event)">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('campPhone'), 'campPhone')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="campEmail" class="width-20">{{static_data.committee_registration.commitee_contact.camp_email}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="campEmail" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.camp_email}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.camp_email}}" matInput type="text" autocomplete="off" autofocus form-fields id="campEmail" formControlName="campEmail" required maxlength="120">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('campEmail'), 'campEmail')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="altPhone" class="width-20">{{static_data.committee_registration.commitee_contact.alt_phone}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="altPhone" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.alt_phone}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.alt_phone}}" matInput type="text" autocomplete="off" autofocus form-fields id="altPhone" formControlName="altPhone"maxlength="10" minlength="10" keyPrevent (keypress)="numericOnly($event)">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('altPhone'), 'altPhone')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="altEmail" class="width-20">{{static_data.committee_registration.commitee_contact.alt_email}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="altEmail" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.alt_email}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.alt_email}}" matInput type="text" autocomplete="off" autofocus form-fields id="altEmail" formControlName="altEmail">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('altEmail'), 'altEmail')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex">
            <mat-label for="commWebsite" class="width-20">{{static_data.committee_registration.commitee_contact.comm_website}}</mat-label>
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                <mat-label for="commWebsite" class="width-20" class="visuallyhidden">{{static_data.committee_registration.commitee_contact.comm_website}}</mat-label>
                <input attr.aria-label="{{static_data.committee_registration.commitee_contact.comm_website}}" matInput type="text" autocomplete="off" autofocus form-fields id="commWebsite" formControlName="commWebsite" maxlength="120">
                <mat-error class="error">
                    {{errorService.checkErrorMessage(createCommitteeInformationForm.get('commWebsite'), 'commWebsite')}}
                </mat-error>
            </mat-form-field>
        </div>

        <!-- <div class="flex bottom-btn margin-bottom-25">
            <span>
              <a class="color-BrightBlue back-btn" href="javascript:void(0)" (click)="goBack()">{{static_data.button.back}}</a>
            </span>
            <span>
                <button mat-raised-button color="primary" class="right" (click)="next()">{{static_data.button.next}}</button>
            </span>
        </div> -->

    </form>
</div>

<br><br> <br>
<div>
    <button   id="btnNext" title="go to Officer tab" attr.aria-label="{{static_data.button.next}}" mat-raised-button color="primary" class="right" (click)="next()">{{static_data.button.next}}</button>
    <a id="btnBack" role= "button" attr.aria-label="{{static_data?.button?.back}}" tabindex="1" class="color-BrightBlue back-btn goToBack" id="back" type="button" (click)="goBack()"
  >{{static_data?.button?.back}}</a>
</div>
