<div class="container mar-height">
    <div class="account-modules width-40">
        <div class="width-100 account-inner-view" style="margin-top: 19%;">
            <div class="width-100">
                <a class="logo" href="javascript:void(0)">
                    <img src="assets/images/denver_logo.png" title="Logo" alt="LOGO">
                </a>
            </div>
            <div class="width-100 margin-bottom-25">
                <h1>
                    Reset Password
                </h1>
            </div>
            <div class="width-100">
                <form [formGroup]="frmresetpwd" class=" margin-bottom-90" autocomplete="off">
                    <div class="o-Form__set">
                        <!-- <mat-label class="width-20">New Password</mat-label> -->
                        <mat-form-field appearance="fill" class="create-full-width"
                           >
                            <mat-label class="width-20" >{{data.login.newpassword}}</mat-label>
                            <input matInput [type]="pshow ? 'password' : 'text'" id="password"
                                formControlName="newpassword" name="password" autofocus form-fields
                                placeholder="{{data.login.newpassword}}" required>
                            <mat-icon matSuffix (click)="pshow = !pshow">{{pshow ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error class="error">
                                {{errorService.checkErrorMessage(frmresetpwd.get('newpassword'), 'setpasswordpassword')}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="o-Form__set">
                        <mat-form-field appearance="fill" class="create-full-width"
                           >
                            <mat-label class="width-20">{{data.login.confirmpassword}}
                            </mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" id="confirmpassword"
                                placeholder="{{data.login.confirmpassword}}" formControlName="confirmpassword"
                                (input)="comparePassword()" name="confirmpassword" autofocus form-fields placeholder=""
                                required>
                            <mat-icon matSuffix (click)="hide = !hide">
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error>
                                <!-- *ngIf="frmchangepwd.controls.confirmpassword.errors && (frmchangepwd.controls.confirmpassword.dirty || frmchangepwd.controls.confirmpassword.touched)"> -->
                                <!-- *ngIf="frmchangepwd.controls.confirmpassword.errors.required" -->
                                <span>
                                    {{errorService.checkErrorMessage(frmresetpwd.get('confirmpassword'),
                                          'setpasswordconfirmpassword')}}</span>
                            </mat-error>
                        </mat-form-field>
                        <span class="error-class"
                            *ngIf="passwordCompare && frmresetpwd.controls.newpassword.valid && frmresetpwd.controls.confirmpassword.value.length">
                            Password doesn't match </span>
                    </div>
                </form>
            </div>
            <button (click)="resetPassword()" mat-raised-button
                class="login-btn color-SkyBlue margin-bottom-10">{{data.login.resetpassword}}</button>
        </div>
    </div>
    <!-- <div class="flex margin-bottom-25">
            <span>
                <a class="color-BrightBlue back-btn" href="javascript:void(0)">Back</a>
            </span>
        </div> -->
</div>