<footer class="footerhead">
    <!-- <ul class="footer"> -->
    <div class="footerbox">
        <div *ngFor="let item of summaryItems"
            style="margin-right: 15px; width: 100%;  box-shadow:  0 3px 6px rgb(0 0 0 / 16%);">
            <div class="spanclass">
                <p class="footernumber"> {{item.number}} </p>
                <p class="footername"> {{item.displayName}}</p>
            </div>
        </div>
    </div>
    <!-- <li class="fontcolor">  <h2 > Total Contributions </h2>
    This Period</li> -->
    <!-- Y -->

    <!-- </ul> -->
</footer>