<div class="regisLobby">
    <h2 class="header-pad-top font-400">
        {{static_data.lobbyist.register.emp_Lobby}}
    </h2>
</div>
<div>
    <p class="instruction-modules color-BrightBlue">Instructions go here ...</p>
</div>
<div>
    <table mat-table [dataSource]="lobbyEmployeeList" multiTemplateDataRows>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email ID </th>
            <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
                <span class="material-icons" (click)="editEmployee(element)">mode_edit_outline</span>&nbsp;&nbsp;
                <span class="material-icons" (click)="openConfirmationModal(element.contactId)">delete_forever</span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="EmployeeLobby"></tr>
        <tr mat-row *matRowDef="let row; columns: EmployeeLobby;"></tr>
    </table>
</div>
<div class="regisLobby">
    <h2 class="header-pad-top font-400">
        {{static_data.lobbyist.register.add_new_employee}}
    </h2>
</div>
<br><br>

<form class="create-form" id="create-info" autocomplete="off" [formGroup]="LobbyEmployeesForm">

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="lobbyist">Lobbyist</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-label class="visuallyhidden">Lobbyist</mat-label>

                    <input attr.aria-label="{{static_data.lobbyist.employees.lobbyist}}" type="text" placeholder="Search" autofocus aria-label="text" matInput (keyup)="getSearchLobbyType($event)" [matAutocomplete]="auto" id="Lobbyist">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of SearchLobby" (click)="selectedItem(option)">
                            {{option.firstName}}  {{option.lastName}}
                        </mat-option>
                        <mat-option *ngIf="!SearchLobby.length">
                            {{static_data?.notFound?.notfound}}
                        </mat-option>
                    </mat-autocomplete>
                    <button type="button" class="btn-search" style="width: 100px;height: 50px;margin-right: -10px;border-radius: 0px;" mat-flat-button color="primary" class="nrmlfillbtn" matSuffix aria-label="Clear">
              Search
          </button>
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyEmployeesForm.get('lobbyist'), 'lobbyist')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="firstName">{{static_data.lobbyist.employees.first_name}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-label class="visuallyhidden">{{static_data.lobbyist.employees.first_name}}</mat-label>
                    <input attr.aria-label="{{static_data.lobbyist.employees.first_name}}" disabled="true" matInput type="text" autocomplete="off"   form-fields id="firstName" formControlName="firstName" keyPrevent [AlphaSpace]="true">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyEmployeesForm.get('firstName'), 'firstName')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="lastName">{{static_data.lobbyist.employees.last_name}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-label class="visuallyhidden">{{static_data.lobbyist.employees.last_name}}</mat-label>
                    <input attr.aria-label="{{static_data.lobbyist.employees.last_name}}" matInput type="text" autocomplete="off"   form-fields id="lastName" formControlName="lastName" keyPrevent [AlphaSpace]="true">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyEmployeesForm.get('lastName'), 'lastName')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="phoneNo">{{static_data.lobbyist.employees.phone}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-label class="visuallyhidden">{{static_data.lobbyist.employees.phone}}</mat-label>
                    <input attr.aria-label="{{static_data.lobbyist.employees.phone}}" matInput type="text" autocomplete="off"   form-fields id="phoneNo" formControlName="phoneNo" required keyPrevent (keypress)="numericOnly($event)" maxlength="10" minlength="10">
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyEmployeesForm.get('phoneNo'), 'phoneNo')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-class">
        <div class="row">
            <div class="col-sm-2">
                <mat-label for="emailId">{{static_data.lobbyist.employees.email}}</mat-label>
            </div>
            <div class="col-sm-10">
                <mat-form-field class="create-full-width" [hideRequiredMarker]='hideRequiredMarker'>
                    <mat-label class="visuallyhidden">{{static_data.lobbyist.employees.email}}</mat-label>
                    <input attr.aria-label="{{static_data.lobbyist.employees.email}}" matInput type="text" autocomplete="off"   form-fields id="emailId" formControlName="emailId" required>
                    <mat-error class="error">
                        {{errorService.checkErrorMessage(LobbyEmployeesForm.get('emailId'), 'email')}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div>
        <span id="cancel-btn">
      <a href="javascript:void(0)" (click)="validateCancel()"> {{static_data.lobbyist.register.cancel}}</a>
    </span>
        <span id="save-btn">
      <button id="addInfo" type="button" mat-flat-button color="primary" class="nrmlfillbtn"
      (click)="ValidateEmployeeForm()"> {{formedit?static_data.button.update :static_data.lobbyist.register.save}}</button>
    </span>
    </div>

</form>
<br><br><br>
<div class="btmbtns">
    <span class="btn-mar-back">
    <a href="javascript:void(0)" (click)="goBack()"> {{static_data.lobbyist.register.back}}</a>
  </span>
    <span class="btn-mar-align">
    <button id="addInfo" type="button" mat-flat-button color="primary" class="nrmlfillbtn"
    (click)="validateSubmitEmployee()"> {{static_data.lobbyist.register.next}}</button>
  </span>
</div>
