.header-pad-top {
  padding-top: 15px;
  font-size: 20px;
  color: #005596;
  font-family: 'open sans', sans-serif;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
}

.btn-mar-align {
  margin-left: 70%;
}
mat-form-field{
  width: 400px;
}
.material-icons{
  color: #005596;
}

.tab-width {
    width: 50%;
}

.btn-mar-back {
  // margin-left: 15px;
  // margin-top: 30px;
  //   margin-bottom: 30px;
  //   margin-left: 10px;
  font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.btmbtns {
  display: flex;
  padding: 0px 175px 0px 2px;
}


#cancel-btn{
  padding-left: 435px;
}
#save-btn{
  padding-left: 25px;
}
::ng-deep .mat-table thead{
  background: #f0f0f0;
}

a {
  color: #005596;
  text-decoration: underline;
}

.material-icons {
  cursor: pointer;
    }

    mat-form-field{
      width: 410px;
    }