<div class="container mar-height">
    <div class="account-modules width-40">
        <div class="width-100 account-inner-view" style="margin-top: 19%;">
            <div class="width-100">
                <a class="logo" href="javascript:void(0)">
                    <!-- <img src="assets/images/logo.svg" title="Logo" alt="LOGO"> -->
                    <img src="assets/images/denver_logo.png" title="Logo" alt="LOGO">
                </a>
            </div>
            <div class="width-100 margin-bottom-25">
                <h1>
                    {{data.login.reset_password}}
                </h1>
                <p class="center">
                    {{data.login.email_address}}
                </p>
            </div>
            <div>
                <div class="width-100">

                    <form [formGroup]="frmForgot" class=" margin-bottom-90" autocomplete="off" (ngSubmit)="resetLink()">
                        <div class="o-Form__set">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" autocomplete="off" autofocus form-fields formControlName="email" placeholder="{{data.login.email_placeholder}}" id="email" name="email">
                                <mat-error class="error">
                                    {{errorService.checkErrorMessage(frmForgot.get('email'), 'forgotemail')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-raised-button class="login-btn color-SkyBlue margin-top-10">{{data.login.reset_Link}}</button>
                    </form>
                    <div class="flex margin-bottom-25">
                        <span>
                            <a class="color-BrightBlue back-btn" role= "button"  (click)="goBack()" href="javascript:void(0)">Back</a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>