.width-80 {
  padding: 1em 3em;
  width: 80%;
}
.account-modules h1 {
  font-size: 20px;
  color: #005596;
  font-family: "open sans", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}
.account-modules p {
  font-size: 14px;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
input[type="text"] {
  text-transform: none !important;
}

.margin-bottom-90 {
    margin-bottom: 26px;
}