<!--Navbar-->
<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->
  <!--/.Navbar-->
<!-- <div class="c-Site-header" *ngIf="!hideNavBars">
    <div class="logo">
    </div>
    <div class="c-Site-header__wrapper">
        <div class="flex-right">

            <div class="c-Site-header__profile-section">
                <div class="mat-dropdown-menu">
                </div>
                <div class="profilecontaner">
                <div  id="showDropDown" class="c-Site-header__profile-menu container">
                    <div (click)="goToProfile()" class="c-Site-header__profile-item align-center container__row" matRipple>
                        <div>
                            <a  class="c-Site-header__profile-name">{{loginDetails?.userName?.charAt(0)}}</a>
                        </div>
                        <div *ngIf="loginDetails">
                            <h5 >{{loginDetails?.userName}}</h5>
                            <p>{{loginDetails?.emailId}}</p>
                        </div>
                    </div>
                    <div class="profilebtnbtns">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="c-Site-nav" *ngIf="!hideNavBars">
    <nav id="site_navbar">
        <div class="c-Site-nav__wrapper">
            <div class="c-Site-nav__header">
            </div>
            <div class="c-Site-nav__menu">
                <ul class="c-Site-nav__menu-wrapper">
                </ul>
            </div>
        </div>
    </nav>
</div> -->