<div class="manage-Committee">
  <h2 class="header-pad-top font-400">
    {{ static_data.manage_committee.manage_filers }}
  </h2>
</div>

<div class="manage-committee-class">
  <form class="create-form" id="create-info" autocomplete="off" [formGroup]="manageCommitteeForm">
    <div class="form-class">
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="mar-tp-header">
        <div fxFlex="38" fxFlex.sm="90" fxFlex.xs="90" style="margin-top: -8px;">
          <mat-label class="width-20">{{
            static_data.manage_committee.search_filers
            }}</mat-label><br>
          <mat-form-field class="search-full-width" [hideRequiredMarker]="hideRequiredMarker">
            <mat-label>Search</mat-label>
            <input attr.aria-label="{{static_data.manage_committee.search_filers}}" type="text" aria-label="text"
              matInput (input)="onInputEmpty($event.target.value)" [formControl]="searchFilers" [matAutocomplete]="auto"
              (keyup)="getSearchFilerName($event)" />
            <mat-icon matPrefix>search</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChangeType($event.option.value)">
              <mat-option *ngFor="let option of getCommitteeList" [value]="option">
                {{ option }}
              </mat-option>

            </mat-autocomplete>
            <button attr.aria-label="{{static_data.button.search}}" id="search" type="button" class="btn-search" (click)= "searchText();" style="
                  width: 100px;
                  height: 49px;
                  margin-right: -10px;
                  border-radius: 0px;
                " mat-flat-button color="primary" class="nrmlfillbtn" matSuffix aria-label="Clear">
              {{static_data.button.search}}
            </button>
            <!-- <mat-error class="error">
                {{
                  errorService.checkErrorMessage(
                    manageCommitteeForm.get("searchFilers"),
                    "searchFilers"
                  )
                }}
              </mat-error> -->
          </mat-form-field>
        </div>

        <div fxFlex="38" fxFlex.sm="90" fxFlex.xs="90">
          <mat-label for="filerType" class="width-20">{{
            static_data.manage_committee.filer_type
            }}</mat-label><br />
          <mat-form-field appearance="fill" appearance="fill" class="create-full-width"
            [hideRequiredMarker]="hideRequiredMarker">
            <mat-label for="filerType" class="width-20" class="visuallyhidden">{{
              static_data.manage_committee.search_committees
              }}</mat-label>
            <mat-select aria-labelledby="filerType create-info" id="filerType"
              attr.aria-label="{{ static_data.manage_committee.filer_type}}" formControlName="filerType" multiple
              (selectionChange)="onChangeType($event)">
              <mat-option #allSelected (click)="toggleAllSelectionType()" [value]="0">All Filer Types</mat-option>
              <mat-option *ngFor="let type of getUserType" [value]="type.lookUpTypeId"
                (click)="tosslePerOneType(allSelected.viewValue)">{{ type.lookUpName }}
              </mat-option>
            </mat-select>
            <mat-error class="error">
              {{
              errorService.checkErrorMessage(
              manageCommitteeForm.get("filerType"),
              "filerType"
              )
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="38" fxFlex.sm="90" fxFlex.xs="90">
          <mat-label for="filer_status" class="width-20">{{
            static_data.manage_committee.filer_status
            }}</mat-label><br />
          <mat-form-field appearance="fill" appearance="fill" class="create-full-width"
            [hideRequiredMarker]="hideRequiredMarker">
            <mat-label for="filer_status" class="width-20" class="visuallyhidden">{{
              static_data.manage_committee.filer_status
              }}</mat-label>
            <mat-select aria-labelledby="filer_status create-info" id="filer_status"
              attr.aria-label="{{static_data.manage_committee.filer_status}}" formControlName="filerStatus" multiple
              (selectionChange)="onChangeType($event)">
              <mat-option #allSelectedStatus (click)="toggleAllSelectionStatus()" [value]="0">All Filer Status
              </mat-option>
              <mat-option *ngFor="let status of status" [value]="status.statusDesc"
                (click)="tosslePerOneStatus(allSelectedStatus.viewValue)">{{ status.statusDesc }}
              </mat-option>
            </mat-select>
            <mat-error class="error">
              {{
              errorService.checkErrorMessage(
              manageCommitteeForm.get("filerStatus"),
              "filerStatus"
              )
              }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <br>
    <div (click)="moreFilters();">
      <span class="more-filter-class">More Filters</span>
      <a href="javascript:void()" alt="" aria-label="expand">
        <mat-icon *ngIf="!visible" alt="">expand_more</mat-icon>
        <mat-icon *ngIf="visible" alt="">expand_less</mat-icon>
      </a>
    </div>

    <br><br>
    <div *ngIf="visible">
      <div class="form-class">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

          <div fxFlex="18" fxFlex.md="50" fxFlex.sm="90" fxFlex.xs="90" class=" textalignright leftrightmargin">
            <mat-label class="width-10 ">{{
              static_data.manage_committee.date
              }}</mat-label>
          </div>

          <div fxFlex="16" fxFlex.md="50" fxFlex.sm="70" fxFlex.xs="90">
            <mat-form-field appearance="fill" class="datepicker">
              <mat-label class="width-20">{{
                static_data.manage_committee.start_date
                }}</mat-label>
              <input class="date-picker-class" attr.aria-label="{{static_data.manage_committee.start_date}}" matInput
                [matDatepicker]="picker" formControlName="startDate" (dateChange)="onChangeType($event)" />
              <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
          </div>

          <div fxFlex="16" fxFlex.md="50" fxFlex.sm="70" fxFlex.xs="90" class="mat-pad-lft">
            <mat-form-field appearance="fill" class="datepicker">
              <mat-label class="width-20">{{
                static_data.manage_committee.end_date
                }}</mat-label>
              <input attr.aria-label="{{ static_data.manage_committee.end_date}}" matInput [matDatepicker]="picker1"
                formControlName="endDate" (dateChange)="onChangeType($event)" />
              <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>

            </mat-form-field>
          </div>
          <!-- <div class="col-sm-1"></div> -->
          <div fxFlex="20" fxFlex.md="50" fxFlex.sm="90" fxFlex.xs="90" class="mat-pad-lft textalignright">
            <mat-label for="committeeType" class="width-20 ">{{
              static_data.manage_committee.committee_type
              }}</mat-label>
          </div>
          <div fxFlex="24" fxFlex.sm="70" fxFlex.xs="90" class="mat-pad-lft">
            <div class="committee-class">
              <mat-form-field appearance="fill" appearance="fill" class="create-full-width"
                [hideRequiredMarker]="hideRequiredMarker">
                <mat-label for="committeeType" class="width-20" class="visuallyhidden">{{
                  static_data.manage_committee.committee_type
                  }}</mat-label>
                <mat-select aria-labelledby="commiteeType create-info" id="committeeType" 
                  attr.aria-label="{{static_data.manage_committee.committee_type}}" formControlName="committeeType"
                  multiple (selectionChange)="onChangeType($event)">
                  <mat-option #allSelectedCType (click)="toggleAllSelectionCType()" [value]="0">All Committee Type
                  </mat-option>
                  <mat-option *ngFor="let type of typeCommittee" (click)="tosslePerOneCType(allSelectedCType.viewValue)"
                    [value]="type.lookUpTypeId">
                    {{ type.lookUpName }}</mat-option>
                </mat-select>
                <!-- "this.manageCommitteeForm.value.filerType == 'AC-CAN' || this.manageCommitteeForm.value.filerType == 'AC-IEF' ||  this.manageCommitteeForm.value.filerType == 'AC-LOB' ||  this.manageCommitteeForm.value.filerType == 'AC-CFE' " -->
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>

      <div class="form-class">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
          <br><br>
          <div fxFlex="18" fxFlex.sm="70" fxFlex.xs="90" class="mat-pad-lft textalignright leftrightmargin">
            <mat-label for="office" class="width-20 ">{{
              static_data.manage_committee.office
              }}</mat-label>
          </div>
          <div fxFlex="32" fxFlex.sm="70" fxFlex.xs="90">
            <mat-form-field appearance="fill" appearance="fill" class="create-full-width"
              [hideRequiredMarker]="hideRequiredMarker" style="width: 100%;">
              <mat-label for="office" class="width-20" class="visuallyhidden">{{
                static_data.manage_committee.office
                }}</mat-label>

              <mat-select aria-labelledby="office create-info" id="office"
                attr.aria-label="{{static_data.manage_committee.office}}" formControlName="office" multiple
                (selectionChange)="onChangeType($event)">
                <mat-option #allSelectedOffice (click)="toggleAllSelectionOffice()" [value]="0">All Office</mat-option>
                <mat-option *ngFor="let office of officerList" value="{{office.lookUpTypeId}}"
                  (click)="tosslePerOneOffice(allSelectedOffice.viewValue)">{{office.lookUpName}} </mat-option>
              </mat-select>

            </mat-form-field>
          </div>

          <div fxFlex="20" fxFlex.sm="70" fxFlex.xs="90" class="mat-pad-lft">
            <div id="public-classes" class="textalignright">
              <mat-label for="public_funding_status" class="width-20">{{
                static_data.manage_committee.public_funding_status
                }}</mat-label>
            </div>

          </div>
          <div fxFlex="24" fxFlex.sm="70" fxFlex.xs="90" class="mat-pad-lft">
            <div class="public-field-class">
              <mat-form-field appearance="fill" appearance="fill" class="create-full-width"
                [hideRequiredMarker]="hideRequiredMarker">

                <mat-label for="public_funding_status" class="width-20" class="visuallyhidden">{{
                  static_data.manage_committee.public_funding_status
                  }}</mat-label>
                <mat-select aria-labelledby="public_funding_status create-info" id="public_funding_status"
                  attr.aria-label="{{static_data.manage_committee.public_funding_status}}"
                  formControlName="publicFundingStatus" multiple>
                  <!-- <mat-option #allSelectedCType (click)="toggleAllSelectionCType()" [value]="0">All Committee Type</mat-option> -->
                  <!-- <mat-option *ngFor="let status of status" [value]="status.statusDesc"> {{status.statusDesc}} </mat-option> -->
                  <mat-option value="Not Participating">Not Participating</mat-option>
                  <mat-option value="Not Yet Qualified">Not Yet Qualified</mat-option>
                  <mat-option value="Participating">Participating</mat-option>
                </mat-select>

              </mat-form-field>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </form>

  <br /><br />

</div>
<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="filerID">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">Filer ID</th>
      <td mat-cell *matCellDef="let element" [attr.role]="null" class="desc">{{ element.filerid }}</td>
    </ng-container>

    <ng-container matColumnDef="filerName">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">Filer Name</th>
      <td mat-cell *matCellDef="let element" [attr.role]="null" title="{{element.filername}}" class="desc">{{ element.filername }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">Status</th>
      <td mat-cell *matCellDef="let element" [attr.role]="null" style = "text-transform:uppercase;">{{ element.filerStatus }}</td>
    </ng-container>

    <ng-container matColumnDef="primaryUser">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">Primary User</th>
      <td mat-cell *matCellDef="let element" [attr.role]="null"  title="{{element.primaryUser}}" class="desc"> {{element.primaryUser}} </td>
    </ng-container>

    <ng-container matColumnDef="lastFillingDate">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">Last Filling Date</th>
      <td mat-cell *matCellDef="let element" [attr.role]="null">{{ element.lastfillingDate | date:masterData.dateFormat
        }}</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">Created Date</th>
      <td mat-cell *matCellDef="let element" [attr.role]="null">{{ element.createdDate | date:masterData.dateFormat}}</td>
    </ng-container>

    <ng-container matColumnDef="electionDate">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">Election Date</th>
      <td mat-cell *matCellDef="let element" [attr.role]="null">{{ element.electionDate | date:masterData.dateFormat }}
      </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef [attr.role]="null">
        {{ static_data.manage_committee.view }}
      </th>
      <td mat-cell *matCellDef="let element" (click)="viewDetails(element)" [attr.role]="null">
        <button  class="viewbtn">
          {{ static_data.manage_committee.view }}
        </button>
      </td>
    </ng-container>

    <tr [attr.role]="null" mat-header-row *matHeaderRowDef="committeegrid"></tr>
    <tr [attr.role]="null" mat-row *matRowDef="let row; columns: committeegrid"></tr>
  </table>
  <mat-paginator [pageSize]="5">
  </mat-paginator>

  <div class="download-btn">
    <button id="download_csv" attr.aria-label="{{static_data.manage_committee.download_csv}}" class="download-button"
      mat-button color="primary" (click)="downloadCSV($event)">
      {{ static_data.manage_committee.download_csv }}
    </button>
  </div>
</div>
