
<div class="container">
    <div class="matform-Container">
        <div>
            <div> 
            <h2 class="name" >{{name}}</h2>
            <button class= "uploadclss" mat-raised-button >Upload Data</button>
            </div>

            <h2 class="tabhead title">{{static_data.header_section.filling}}</h2>
            <!-- <div *ngFor="let item of listItems" >
                <div > 
                    <h2 class="fontcolorblck"> {{item.displayName}} <span class="material-icons">
                            arrow_forward_ios
                        </span> </h2>
                </div>
                <hr>
            </div> -->
            <app-navigatescreen  [candidateLabels]= "listItems" ></app-navigatescreen>
        </div>
    </div>



    <!-- <footer class="footerhead">
    <div class="footerbox">
    <div *ngFor="let item of summaryItems" style="margin-right: 15px; width: 100%;  box-shadow:  0 3px 6px rgb(0 0 0 / 16%);">
        <div class="spanclass"> <p class="footernumber"> {{item.number}} </p> <p class="footername"> {{item.displayName}}</p></div>
    </div>
</div>
   
    </footer> -->

    <app-summarycomponent [summaryLabels]= "summaryItems"></app-summarycomponent>
</div>