.name {
  font-size: 30px;
  width: 85%;
  top: 1%;
  color: #0b365f;
  font-weight: 500;
  padding-left: 20px;
}

.uploadclss {
  color: rgb(15 85 151);
  float: right;
  border-radius: 5px;
  border: 2px solid rgb(15 85 151);
  position: absolute;
  right: 1%;
  top: 1%;
}

.title {
  color: #0f5597;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-left: 20px;
}

.tabhead {
  font-size: 25px;
}
